<div id="main-banner" style='background-image:url({{postagem.fotoPostagem}})' 
height="90vh" width= "210vh">

    
    <div id="main-banner-content">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill=#FFEEAD fill-opacity="1" d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>

</div>
    
</div>


<div class="container-fluid row d-flex fundo p-0 m-0 pb-5 pt-4">

    <div class="col-sm-7 ">
      <div class="card ml-5 mr-3 corfundo">
        <div class="card-body">
          <h1 class="card-title">{{postagem.titulo}}</h1>
          <p class="card-text">{{postagem.texto}}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="card corfundo">
        <div class="card-body corfundo">
            <div class="container-fluid row d-flex p-0 m-0">
            <li class="nome">
                <img src="{{postagem.usuario.foto}}" alt="imagem do usuário" width="50px" height="50px" class="img-fluid rounded-circle">
            </li>
            <h5 class="card-title pl-3">Postado por {{postagem.usuario.nome}}</h5>
    </div>
        <p class="card-text">Data do evento {{postagem.dataEvento | date: 'dd/MM/yyyy'}}</p>
        <p class="card-text">Local do evento: {{postagem.localEvento}}</p>
          <!-- <a href="#" class="btn corbotao mr-4">EU VOU!</a>
          <a href="#" class="btn corbotao">Curtir</a> -->
        </div>        
      </div>

     <div class="mt-3">
      <button class="btn mr-3"  (click)='curtida(postagem.id)'><i class="fa fa-thumbs-up"  aria-hidden="true">{{postagem.curtir}}</i></button> 
 

<button class="btn mr-3" (click)='descurtida(postagem.id)'><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>

<button class="btn" (click)='participar(postagem.id)'><i class="fa fa-users" aria-hidden="true">{{postagem.participar}}</i></button>

<!-- Participantes: -->

</div>

    </div>
  </div>





