<footer>
    <footer class="page-footer font-small">

        <div class="container">
            <div class="row">
                
            </div>
    
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
    
            
    
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center footer-copyright text-center py-3 cor-fundo text-white">
            <span>© 2021 Copyright: Conexão Marítima</span>
    
    </div>
</footer>
