@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;    
}

.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #e5e5e5;   
}


.centro {
    background: #7CCEBA;
    min-width: 300px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 15p;
}

.centro h1{
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

.form-group{
    margin: 20px;
    
}



.form-group input{
    font-size: 0.9rem;
    background-color: white;
    border: none;
    padding: 2px 10px;
    border-radius: 50px;
}

.btn {
width: 80%;
padding: 10px 10px;
margin: 20px;
border-radius: 50px;
background-color: #2165BF;
}



/*Inicio - Todas as ondas -> Waves */
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 100px;
}

.parallax > use {
  -webkit-animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
          animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

@-webkit-keyframes moveForever {
  0% {
      -webkit-transform: translate3d(-90px, 0, 0);
              transform: translate3d(-90px, 0, 0);
  }
  100% {
      -webkit-transform: translate3d(85px, 0, 0);
              transform: translate3d(85px, 0, 0);
  }
}

@keyframes moveForever {
  0% {
      -webkit-transform: translate3d(-90px, 0, 0);
              transform: translate3d(-90px, 0, 0);
  }
  100% {
      -webkit-transform: translate3d(85px, 0, 0);
              transform: translate3d(85px, 0, 0);
  }
}

@media (max-width : 768px) {
  .waves {
      height: 40px;
      min-height: 40px;
  }
}
/*Final - Todas as ondas -> Waves */