<main class="container-fluid pt-3  d-flex flex-column">

    <div>  

        <div class="row d-flex justify-content-center text-white flex-fill">
            <div class="col-md-6 centro  ">
                <h1 class="text-center mb-2">Cadastro</h1>
                
                <div class="row d-flex justify-content-center align-items-center">

                <!--Nome-->
                <div class="form-group col-md-8">
                    <label for="nome">Nome</label>
                    <input [(ngModel)]='usuario.nome' class="form-control" type="text" name="nome" id="nome" placeholder="Escreva somente seu primeiro nome">
                </div>

                
                <!--usuario-->
                <div class="form-group col-md-8">
                    <label for="usuario">E-mail</label>
                    <input [(ngModel)]='usuario.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="Escreva o seu E-mail">
                </div>

                <!--link para foto-->
                <div class="form-group col-md-8">
                    <label for="foto">Link da Foto</label>
                    <input [(ngModel)]='usuario.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
                </div>

                <!--senha-->
                <div class="form-group ">
                    <label for="senha">Senha</label>
                    <input (input)='confirmSenha($event)'
                    class="form-control" type="password" name="senha" id="senha" placeholder="Escreva sua senha">
                </div>

                <!--Confirmação de senha-->
                <div class="form-group">
                    <label for="confirmeSenha">Confirmar senha</label>
                    <input [(ngModel)]='usuario.senha'
                    class="form-control" type="password" name="confirmeSenha" id="confirmeSenha" placeholder="Confirme sua senha">
                </div>
                
                <!--tipo de usuario-->
                <div class="form-group col-md-8">
                    <label for="tipo">Tipo de usuário</label>
                    <select class="form-control" name="tipo" id="tipo" (change)='tipoUsuario($event)'>
                        <option>Selecione um tipo de usuário</option>
                        <option value="normal">Ativista</option>
                        <option value="adm">Onganizações não governamentais</option>
                    </select>
                </div>

                <!--botões-->
                <div class="d-flex justify-content-center">
                    <button class="btn btn-danger mr-4" type="submit" routerLink="/entrar">Cancelar</button>
                    <button class="btn btn-success" type="submit" (click)='cadastrar()'>Cadastrar</button>
                </div>
                


            </div>

            </div>

            
        </div>
        
    </div>

    
    <div class="p-0 m-0 vw-100">
        <svg class="waves " xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="#64B9ED" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="#419FD9" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="#035AA6" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#2165BF" />
            </g>
        </svg>
        </div>


</main>







