<div class="container-fluid">
    
    <div class="container">
        <div class="col-md-12">
            <h1 class="text-center pt-10">Sobre o Conexão Marítima</h1>
        </div>
    
        <div class="col-md-12">
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim fugit, corporis quis, dolor accusantium, provident alias magnam quod cumque cum aperiam quisquam error repellat nihil sit consequuntur quaerat laudantium accusamus!
    
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet dolores minima tempore cupiditate in nam eos repudiandae vero, accusantium illo voluptatem dignissimos dicta, saepe aspernatur! Possimus tempore soluta dolore nisi?
    
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil officiis eaque similique molestias iste, eos voluptate, hic harum tempore et in mollitia eveniet pariatur maiores tempora magnam rem recusandae laboriosam.
    
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores molestiae architecto eveniet consequatur, eum explicabo fugit corporis beatae saepe fugiat itaque et est nam officiis velit, soluta illum quis rerum?
            </p>
        </div>
        <div class="row">
            <!-- Topic Cards -->
    <div id="cards_landscape_wrap-2">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="https://github.com/11Victor.png" alt="" />
                              </div>
                              <div class="text-container">
                                  <h6>Title 01</h6>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="https://github.com/vitoria2002campos.png" alt="" />
                              </div>
                              <div class="text-container">                                    
                                  <h6>Title 02</h6>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="https://github.com/raqueldcsilva.png" alt="" />
                              </div>

                              <div class="text-container">
                                  <h6>Title 03</h6>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="https://github.com/obrunorm.png" alt="" />
                              </div>
                              <div class="text-container">
                                  <h6>Title 04</h6>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://github.com/miyukiiy.png" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Title 04</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
          </div>
      </div>
  </div>
    </div>
    
</div>
