<div class="wavetop">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#C4C4C4" fill-opacity="1" d="M0,288L48,277.3C96,267,192,245,288,234.7C384,224,480,224,576,234.7C672,245,768,267,864,245.3C960,224,1056,160,1152,149.3C1248,139,1344,181,1392,202.7L1440,224L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
</div>





<div class="container-fluid corfundo">
    

    <div class="col-md-10">
        <div class="row">
        <div class="col-md-12 tamanho">
            <h1 class="text-center pt-10 tamanho">Sobre o Conexão Marítima</h1>
        </div>
    
        <div class="col-md-12 texto">
            <p>Mudanças climáticas, desmatamento e poluição dos mares e rios estão entre os maiores desafios que precisamos lidar na atualidade, os mares além de nos oferecer um local para descanso, é a fonte de sustento de muitas pessoas que vivem da pesca, do turismo e também é o habitat de milhares de espécies conhecidas e desconhecidas.           
                
                
            </p>
           
            <p>
                Os mares são responsáveis pela absorção de 30% do CO2 que geramos, então tem um papel fundamental para frear as mudanças climáticas, sua preservação além de salvar a vida marítima pode ajudar na sobrevivência da espécie humana e no desenvolvimento econômico.
            </p>
            
            <p>
                Mudar nossa maneira de se relacionar com o meio ambiente é uma das nossas principais metas, por isso nós, o Conexão Marítima, desenvolvemos uma plataforma que faz um chamado para a ação, nela reunimos eventos  para discutir as questões ambientais, organizar mutirões para reciclagem e dentre tantas outras coisas que levem a mudança do nosso meio ambiente.
            </p>

        </div>
        <div class="row d-flex ">
            <!-- Topic Cards -->
    <div id="cards_landscape_wrap-2">
      <div class="container align-items-center">
          <div class="row d-flex justify-content-center align-items-center">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="https://github.com/11Victor.png" alt="" />
                              </div>
                              <div class="text-container">
                                  <h6>Victor Valencio</h6>
                                  <p>Engenharia da Computação 4° Sem. Desenvolvedor Java Full Stack pela Generation.</p>
                                  <div class="mt-2">
                                  <ul class="social-network">
                                    <li>
                                        <a href="https://github.com/11Victor" target="_blank" class="icogithub"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                    </li>
                
                                    <li>
                                        <a href="https://www.linkedin.com/in/victorvalencio/" target="_blank" class="icolinkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                               </div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="https://github.com/vitoria2002campos.png" alt="" />
                              </div>
                              <div class="text-container">                                    
                                  <h6>Vitória de Lara</h6>
                                  <p>Técnica em Informática. Desenvolvedora Java Full Stack pela Generation Brasil.</p>
                                  <div class="mt-2">
                                    <ul class="social-network">
                                      <li>
                                          <a href="https://github.com/vitoria2002campos" target="_blank" class="icogithub"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                      </li>
                  
                                      <li>
                                          <a href="https://www.linkedin.com/in/vit%C3%B3ria-de-lara/" target="_blank" class="icolinkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                      </li>
                                  </ul>
                                 </div>
                                </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="https://i.imgur.com/qjrL4MU.jpg" alt="" />
                              </div>

                              <div class="text-container">
                                  <h6>Raquel Silva</h6>
                                  <p>Formada em Direito. Desenvolvedora Java Full Stack pela Generation Brasil.
                                </p>
                                <div class="mt-2">
                                    <ul class="social-network">
                                      <li>
                                          <a href="https://github.com/raqueldcsilva" target="_blank" class="icogithub"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                      </li>
                  
                                      <li>
                                          <a href="https://www.linkedin.com/in/raquel-da-conceição-silva-ab0285189/" target="_blank" class="icolinkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                      </li>
                                  </ul>
                                 </div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>


      </div>
  </div>
    </div>

            


             
          </div>

          <div class="row d-flex justify-content-center align-items-center mb-5" id="cards_landscape_wrap-2">

            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://github.com/obrunorm.png" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Bruno Rodrigues</h6>
                                <p>Formado em Educação Física. Desenvolvedor Java Full Stack pela Generation Brasil.
                                </p>
                                <div class="mt-2">
                                    <ul class="social-network">
                                      <li>
                                          <a href="https://github.com/obrunorm" target="_blank" class="icogithub"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                      </li>
                  
                                      <li>
                                          <a href="https://www.linkedin.com/in/bruno-martins-8667b0180/" target="_blank" class="icolinkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                      </li>
                                  </ul>
                                 </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
              <a href="">
                  <div class="card-flyer">
                      <div class="text-box">
                          <div class="image-box">
                              <img src="https://github.com/miyukiiy.png" alt="" />
                          </div>
                          <div class="text-container">
                              <h6>Jessica Miyuki</h6>
                              <p>Formada em Design Gráfico. Desenvolvedora Java Full Stack pela Generation Brasil.</p>
                              <div class="mt-2">
                                <ul class="social-network">
                                  <li>
                                      <a href="https://github.com/miyukiiy" target="_blank" class="icogithub"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                  </li>
              
                                  <li>
                                      <a href="https://www.linkedin.com/in/jessicamiwasaki/" target="_blank" class="icolinkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                  </li>
                              </ul>
                             </div>
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          </div>
            
        </div>
        </div>
</div>


