<nav class="navbar navbar-expand-lg navbar-light menu-cor sticky-top">
  <img routerLink='/inicio' href="#" class="logo ml-3" src="https://i.imgur.com/mrHpGjb.png" alt="">

  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<nav class="collapse navbar-collapse" id="navbarSupportedContent">
    

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto fonte-cor">

      <li class="nav-item active item-form">
        <a class="nav-link" routerLink='/inicio'>HOME<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active item-form">
        <a class="nav-link" routerLink='/sobre'>SOBRE<span class="sr-only">(current)</span></a>
      </li>

      <li *ngIf="logado()" class="nav-item active item-form" data-toggle="modal" data-target="#novaPostagem">
        <a class="nav-link" href="#">NOVA POSTAGEM<span class="sr-only">(current)</span></a>
      </li>

      <!-- <li *ngIf="logado()" class="nav-item active item-form">
        <a class="nav-link" routerLink='/minhas-postagens'>MINHAS POSTAGENS<span class="sr-only">(current)</span></a>
      </li> -->

    </ul>
    <form class="form-inline my-2 my-lg-0  justify-content-end align-items-end ">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline my-2 my-sm-0 botao-cor" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>

    <ul class="navbar-nav ml-auto d-flex align-items-center fonte-cor"> 
      <li *ngIf="logado()" class="nav-item active">
        <img src="{{foto}}" alt="imagem do usuário" width="50px" height="50px" class="img-fluid rounded-circle">
    </li>
    <li *ngIf="logado()" class="nav-item pl-3 ">
        <p class="m-0  corpreto fs-16">Olá, {{nome}}</p>
    </li>
    <li *ngIf="logado()" class="nav-item pl-3 padUsuario">
        <a [routerLink]="['/user-edit', id]">
            <p class="corpreto fs-16 m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
        </a>
    </li>
      <li *ngIf="!logado()" class="nav-item active item-form">
        <a class="nav-link" routerLink='/entrar'>ENTRAR<span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="logado()" class="nav-item pl-3">
          <a (click)='sair()' class="m-0  corpreto fs-16 ">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>
</nav>

<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo" placeholder="Digite o Título">
        </div>
        
        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="dataEvento">Data do Evento</label>
          <input [(ngModel)]='postagem.dataEvento' type="date" class="form-control" name="dataEvento" id="dataEvento" rows="3">
        </div>

         <div class="form-group">
          <label for="fotoPostagem">Link da Foto</label>
          <input [(ngModel)]='postagem.fotoPostagem' type="text" class="form-control" id="fotoPostagem" placeholder="Digite o Link da Postagem">
        </div> 

        <div class="form-group">
          <label for="tema">Escolha um Tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>: </label>
          <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
              <option *ngFor='let tema of listaTemas' value="{{tema.id}}">
                {{tema.descricao}}
              </option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)='publicar()'>Publicar</button>
      </div>
    </div>
  </div>
</div>
  


    
  